@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px;
}

html,
body,
#root {
  min-height: 100%;
  background: url("./images/fon.png") center / cover no-repeat fixed;
}